<div style="width: 50%; float: left; border: 1px solid grey; text-align: center;">
    <ul>
        <li><a href="{{ game.gameUrl }}" target="_blank">{{ game.name }}</a></li>
        <li>Platform: {{ game.platform }}</li>
        <li>Completion percentage: {{ game.completionPercentage }}%</li>
        <li>Completion estimate: {{ game.completionEstimate }}</li>
        <li>Hours played: {{ game.hoursPlayed }}</li>
        <li>Achievements: {{ game.achievementsWon }}/{{ game.achievementsTotal }}</li>
        <li>Site rating: {{ game.siteRating }}</li>
        <li>Walkthrough: <a href="{{ game.walkthroughUrl }}" target="_blank">maybe</a></li>
        <li>Purchase price: {{ game.purchasedPrice }}</li>
        <li><a class="button" href="/ranking/choose/{{ game.id }}/{{ otherGame.id }}">CHOOSE</a></li>
    </ul>
</div>
