<div class="form-group text-center" style="line-height: 5em;">
    <span class="btn btn-info">Total games<br/><span class="badge">{{ count }}</span></span>
    <span class="btn btn-success">Free games<br/><span class="badge">{{ stats.free }}</span></span>
    <span class="btn btn-success">Purchased for free<br/><span class="badge">{{ stats.purchased_free }}</span></span>
    <span class="btn btn-info">Total spent<br/><span class="badge">{{ stats.total_purchased|format_currency('EUR') }}</span></span>
    <span class="btn btn-info">Average cost<br/><span class="badge">{{ stats.average_purchased|format_currency('EUR') }}</span></span>
    <span class="btn btn-info">Total estimated playtime<br/><span class="badge">{{ stats.total_playtime }} hours</span></span>
    <span class="btn btn-info">Spent playtime<br/><span class="badge">{{ stats.spent_playtime|number_format(2, '.', '') }} hours</span></span>
    {% if stats.most_expensive_purchase is defined %}
    <span class="btn btn-danger">Most expensive buy:<br/>{{ stats.most_expensive_purchase.name }} <span class="badge">{{ stats.most_expensive_purchase.price|format_currency('EUR') }}</span></span>
    {% endif %}
    {% if not stats.spent_year is empty %}
    <span class="btn btn-warning">Spent last week:<br/><span class="badge" title="{{ stats.spent_week_tooltip|join("\n") }}">{{ stats.spent_week|format_currency('EUR') }}</span></span>
    <span class="btn btn-warning">Spent last month:<br/><span class="badge" title="{{ stats.spent_month_tooltip|join("\n") }}">{{ stats.spent_month|format_currency('EUR') }}</span></span>
    <span class="btn btn-warning">Spent last 6 months:<br/><span class="badge" title="{{ stats.spent_6month_tooltip|join("\n") }}">{{ stats.spent_6month|format_currency('EUR') }}</span></span>
    <span class="btn btn-warning">Spent last year:<br/><span class="badge">{{ stats.spent_year|format_currency('EUR') }}</span></span>
    {% endif %}
</div>

<div class="form-group" style="line-height: 3em;">
    <form id="searchForm" action="/search/term/{{ page }}" method="get" class="form-inline">
        <a class="btn btn-success {% if filter == 'all' %}active{% endif %}" href="/all">All games</a>
        <a class="btn btn-success {% if filter == 'completed' %}active{% endif %}" href="/completed">Completed games</a>
        <a class="btn btn-info {% if filter == 'incomplete' %}active{% endif %}" href="/incomplete">Incomplete games</a>
        <a class="btn btn-info {% if filter == 'notstarted' %}active{% endif %}" href="/notstarted">Not started games</a>
        <a class="btn btn-info {% if filter == 'bestrating' %}active{% endif %}" href="/bestrating">Best games</a>
        <a class="btn btn-info {% if filter == 'notstartedbestrating' %}active{% endif %}" href="/notstartedbestrating">Best not started games</a>
        <a class="btn btn-info {% if filter == 'shortest' %}active{% endif %}" href="/shortest">Shortest games</a>
        <a class="btn btn-info {% if filter == 'shortestnotstarted' %}active{% endif %}" href="/shortestnotstarted">Shortest not started games</a>
        <a class="btn btn-info {% if filter == 'longest' %}active{% endif %}" href="/longest">Longest games</a>
        <a class="btn btn-info {% if filter == 'mostplayed' %}active{% endif %}" href="/mostplayed">Most played</a>
        <a class="btn btn-info {% if filter == 'easiest' %}active{% endif %}" href="/easiest">Easiest</a>
        <a class="btn btn-info {% if filter == 'hardest' %}active{% endif %}" href="/hardest">Hardest</a>
        <a class="btn btn-info {% if filter == 'recent' %}active{% endif %}" href="/recent">Recent</a>
        <a class="btn btn-default {% if filter == 'paid' %}active{% endif %}" href="/paid">Purchased games</a>
        <a class="btn btn-default {% if filter == 'free' %}active{% endif %}" href="/free">Free games</a>
        <a class="btn btn-default {% if filter == 'onsale' %}active{% endif %}" href="/onsale">On sale</a>
        <a class="btn btn-default {% if filter == 'physical' %}active{% endif %}" href="/physical">Physical games</a>
        <a class="btn btn-default {% if filter == 'sold' %}active{% endif %}" href="/sold">Sold games</a>
        <a class="btn btn-default {% if filter == 'unavailable' %}active{% endif %}" href="/unavailable">Unavailable games</a>
        <a class="btn btn-warning {% if filter == '360' %}active{% endif %}" href="/360">Xbox 360 games</a>
        <a class="btn btn-warning {% if filter == 'xb1' %}active{% endif %}" href="/xb1">Xbox One games</a>
        <a class="btn btn-warning {% if filter == 'xsx' %}active{% endif %}" href="/xsx">Xbox Series X|S games</a>
        <a class="btn btn-warning {% if filter == 'win' %}active{% endif %}" href="/win">Windows games</a>
        <a class="btn btn-warning {% if filter == 'bc' %}active{% endif %}" href="/bc">Backwards compatible games</a>
        <a class="btn btn-warning {% if filter == 'nonbc' %}active{% endif %}" href="/nonbc">Not backwards compatible games</a>
        <a class="btn btn-warning {% if filter == 'nonbckinect' %}active{% endif %}" href="/nonbckinect">Non-BC games with Kinect</a>
        <a class="btn btn-warning {% if filter == 'nonbcperiph' %}active{% endif %}" href="/nonbcperiph">Non-BC games with peripheral</a>
        <a class="btn btn-danger {% if filter == 'nonbconline' %}active{% endif %}" href="/nonbconline">Non-BC games with online multiplayer</a>
        <a class="btn btn-success {% if filter == 'walkthrough' %}active{% endif %}" href="/walkthrough">With walkthrough</a>
        <a class="btn btn-warning {% if filter == 'nowalkthrough' %}active{% endif %}" href="/nowalkthrough">Without walkthrough</a>
        <a class="btn btn-success {% if filter == 'nodlc' %}active{% endif %}" href="/nodlc">Without DLC</a>
        <a class="btn btn-warning {% if filter == 'withdlc' %}active{% endif %}" href="/withdlc">With DLC</a>
        <a class="btn btn-success {% if filter == 'dlccompleted' %}active{% endif %}" href="/dlccompleted">DLC completed</a>
        <a class="btn btn-warning {% if filter == 'dlcnotcompleted' %}active{% endif %}" href="/dlcnotcompleted">DLC not completed</a>
        <span class="text-nowrap">
            <input type="text" name="search" id="search" class="form-control" style="width: auto; display: inline;" value="{{ search }}" autofocus />
            <input class="btn btn-info" id="submitSearch" name="submitSearch" type="submit" value="Search" />
            <a href="/all/1" class="btn btn-default">Clear</a>
        </span>
    </form>
    <!--form method="post" enctype="multipart/form-data" class="form-inline">
        <input type="file" name="upload" style="width: auto; display: inline;" id="upload" class="form-control hidden-xs" />
        {% if form_password is defined %}
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        {% endif %}
        <input class="btn btn-info hidden-xs" name="action" type="submit" value="Import prices JSON" />
        <input class="btn btn-info hidden-xs" name="action" type="submit" value="Import game collection CSV" />
    </form-->
</div>

<a name="content"></a>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">{{ message }}</div>
    {% endfor %}
{% endfor %}

{% if successMsg is defined %}
    <div role="alert" class="alert alert-success">{{ successMsg }}</div>
{% endif %}
{% if errorMsg is defined %}
    <div role="alert" class="alert alert-danger">{{ errorMsg }}</div>
{% endif %}

{% if games.haveToPaginate %}
<nav style="text-align: center;">
    <ul class="pagination">
        {% if page > 2 %}<li><a href="/{{ paginateSlug }}/1">1</a></li>{% endif %}
        {% if page > 3 %}<li><a href="/{{ paginateSlug }}/2">2</a></li>{% endif %}
        {% if page > 4 %}<li class="inactive"><span>..</span></li>{% endif %}

        {% if page > 1 %}<li><a href="/{{ paginateSlug }}/{{ page - 1 }}">{{ page - 1 }}</a></li>{% endif %}
        <li class="active"><span>{{ page }}</span></li>
        {% if page < games.getNbPages %}<li><a href="/{{ paginateSlug }}/{{ page + 1 }}">{{ page + 1 }}</a></li>{% endif %}

        {% if page < games.getNbPages - 3 %}<li class="inactive"><span>..</span></li>{% endif %}
        {% if page < games.getNbPages - 2 %}<li><a href="/{{ paginateSlug }}/{{ games.getNbPages - 1 }}">{{ games.getNbPages - 1 }}</a></li>{% endif %}
        {% if page < games.getNbPages - 1 %}<li><a href="/{{ paginateSlug }}/{{ games.getNbPages }}">{{ games.getNbPages }}</a></li>{% endif %}
    </ul>
</nav>
{% endif %}

<table class="table table-condensed table-hover">
    <tr>
        <th>Game name ({{ count }})</th>
        <th class="hidden-xs">Platform</th>
        <th class="hidden-xs">Ratio</th>
        <th class="text-nowrap">C<span class="hidden-xs">omp</span> %</th>
        <th class="text-nowrap">C<span class="hidden-xs">omp</span> est.</th>
        <th><abbr title="Has downloadable content?">DLC</abbr></th>
        <th><abbr title="Is backwards compatible?">BC</abbr></th>
        <th><abbr title="Is Kinect required?">K</abbr></th>
        <th><abbr title="Is peripheral required?">P</abbr></th>
        <th><abbr title="Has no online multiplayer?">O</abbr></th>
        <th class="hidden-xs">Media</th>
        <th class="hidden-xs">Paid</th>
        <!--th class="hidden-xs">Status</th-->
        <th></th>
    </tr>
    {% for game in games %}
        <tr class="table-striped {{ game.completionPercentageClass }}">
            <td>
                <a href="{{ game.gameUrl }}" target="_blank">{{ game.name }}</a>
                {% if game.walkthroughUrl is not empty %}
                    <a href="{{ game.walkthroughUrl }}" target="_blank" title="Walkthrough available"><span class="glyphicon glyphicon-book"></span></a>
                {% endif %}
            </td>
            <td class="{{ game.platformClass }} hidden-xs">{{ game.platform }}</td>
            <td class="hidden-xs {{ game.ratioClass }}">
                {{ game.ratio|round(2) }}
            </td>
            <td class="{{ game.completionPercentageClass }} text-center text-nowrap">{{ game.completionPercentage }} %</td>
            <td class="{{ game.completionEstimateClass }}">
                <span class="hidden-xs" title="{{ game.hoursPlayed|number_format(2) }} hours played">{{ game.completionEstimate }}</span>
                <span class="visible-xs text-nowrap">{{ game.completionEstimate|replace({'hours': 'h'}) }}</span>
            </td>
            <td>
                {% if game.hasDlc %}
                <span style="color: {{ game.dlcCompletionClass }};" title="{{ game.dlcCompletion }}%" class="glyphicon glyphicon-plus"></span></td>
                {% endif %}
            </td>
            {% if game.platform == 'Xbox 360' %}
                <td class="{{ game.backwardsCompatibleCompleteClass }}"><i style="color: {{ game.backwardsCompatibleClass }}" class="glyphicon glyphicon-refresh" /></td>
                <td class="{{ game.backwardsCompatibleCompleteClass }}"><i style="color: {{ game.kinectRequiredClass }}" class="glyphicon glyphicon-eye-open" /></td>
                <td class="{{ game.backwardsCompatibleCompleteClass }}"><i style="color: {{ game.peripheralRequiredClass }}" class="glyphicon glyphicon-music" /></td>
                <td class="{{ game.backwardsCompatibleCompleteClass }}"><i style="color: {{ game.onlineMultiplayerClass }}" class="glyphicon glyphicon-cloud-upload" /></td>
            {% else %}
                <td /><td /><td /><td />
            {% endif %}
            <td class="hidden-xs {{ game.formatClass }}">{{ game.format }}</td>
            <td class="hidden-xs">
                {% if game.purchasedPrice == 0 %}
                    <span class="text-success">free</span>
                {% else %}
                    {{ game.purchasedPrice|format_currency('EUR') }}
                {% endif %}
            </td>
            <!--td class="hidden-xs">
                {# if game.status == 'delisted' %}
                    <i title="{{ game.status }}" class="gpyhpicon glyphicon-ban-circle text-danger"></i>
                {% elseif game.status == 'region-locked' %}
                    <i title="{{ game.status }}" class="gpyhpicon glyphicon-globe text-danger"></i>
                {% elseif game.currentPrice == 0 %}
                {% else %}
                    {{ game.currentPrice|format_currency('EUR') }}
                {% endif #}
            </td-->
            <!--td>current price</td-->
            <!--td>shortlist</td-->
            <td>
                <a href="/game/{{ game.id }}"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="14">
                <div role="alert" class="alert alert-info">
                    <p>The current filter '{{ filter }}' yields no results.</p>
                    {% if filter == 'all' %}
                        <hr/>
                        <p>If this is your first time opening this app, run this Symfony console command to import your game collection:</p>
                        <p style="font-family: monospace;">> bin/console app:import [your gamertag]</p>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
</table>

{% if games.haveToPaginate %}
<nav style="text-align: center;">
    <ul class="pagination">
        {% if page > 2 %}<li><a href="/{{ paginateSlug }}/{{ 1 }}">1</a></li>{% endif %}
        {% if page > 3 %}<li><a href="/{{ paginateSlug }}/{{ 2 }}">2</a></li>{% endif %}
        {% if page > 4 %}<li class="inactive"><span>..</span></li>{% endif %}

        {% if page > 1 %}<li><a href="/{{ paginateSlug }}/{{ page - 1 }}">{{ page - 1 }}</a></li>{% endif %}
        <li class="active"><span>{{ page }}</span></li>
        {% if page < games.getNbPages %}<li><a href="/{{ paginateSlug }}/{{ page + 1 }}">{{ page + 1 }}</a></li>{% endif %}

        {% if page < games.getNbPages - 3 %}<li class="inactive"><span>..</span></li>{% endif %}
        {% if page < games.getNbPages - 2 %}<li><a href="/{{ paginateSlug }}/{{ games.getNbPages - 1 }}">{{ games.getNbPages - 1 }}</a></li>{% endif %}
        {% if page < games.getNbPages - 1 %}<li><a href="/{{ paginateSlug }}/{{ games.getNbPages }}">{{ games.getNbPages }}</a></li>{% endif %}
    </ul>
</nav>
{% endif %}

<script>
    //@TODO move to main.js
    $('#searchForm').on('submit', function() {
        let search = $('#search').prop('value');
        window.location.href = '/search/' + search + '/1';
        return false;
    });
</script>