{% extends 'index.html.twig' %}

{% block body %}
<div class="container">
    <h1><a href="https://www.trueachievements.com/" target="_blank" class="link-secondary link-underline-opacity-0 link-underline-opacity-100-hover">My Game Collection</a> - Series Setlist</h1>
    <form method="post" class="form-horizontal" role="form">
        {% if mode == 'edit' %}
        <input type="hidden" name="id" value="{{ seriesGame.id }}" />
        {% endif %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        <div class="form-group row">
            <div class="col col-sm-2">
                <label for="gameId" class="col-form-label d-flex justify-content-end">Game id</label>
            </div>
            <div class="col col-sm-8">
                <input type="text" id="gameId" name="gameId" class="form-control" value="{{ seriesGame.gameId|default('') }}" required />
            </div>
        </div>

        <div class="form-group row">
            <div class="col col-sm-2">
                <label for="name" class="col-form-label d-flex justify-content-end">Game name</label>
            </div>
            <div class="col col-sm-8">
                <input type="text" id="name" name="name" class="form-control" value="{{ seriesGame.name|default('') }}" required />
            </div>
        </div>

        <div class="form-group row">
            <div class="col col-sm-2">
                <label for="altForId" class="col-form-label d-flex justify-content-end">Alternative version?</label>
            </div>
            <div class="col col-sm-8">
                <input type="text" id="altForId" name="altForId" class="form-control" value="{{ seriesGame.altForId|default('') }}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">
                <label class="col-form-label d-flex justify-content-end">&nbsp;</label>
            </div>
            <div class="col-sm-8">
                <input type="submit" name="action" value="Save" class="btn btn-primary" />
                <a href="/series-setlist/games/{{ seriesId }}" class="btn btn-light">Cancel</a>
                <input type="submit" name="action" value="Delete" class="btn btn-danger confirm" />
            </div>
        </div>
    </form>
</div>
{% endblock %}